<!-- Start Product -->
<div class="product">
    <!-- Product Img -->
    <div class="product-img">
      <img src="../img/products/package.png" />
    </div>

    <!-- Product Title -->
    <div class="product-title">
      <h5>Ecstasy package</h5>
    </div>

    <!-- Product Subtitle -->
    <div class="product-subtitle">
      <p>Package 100x Ecstasy Blue.</p>
    </div>

    <!-- Product Price -->
    <div class="product-price">
      <h1>$640</h1>
    </div>

    <!-- Product Rate -->
    <div class="product-rate">
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="fas fa-star"></i> <i class="fas fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    <!-- Product Button -->
    <div class="product-button">
      <h1>Add to Cart</h1>
    </div>
  </div>
  <!-- End Product -->